@using TatilSeyahatMVC.Models.Siniflar
@model List<Blog>

 
<div class="con-bot">
   @{ int a = 0;}

    @foreach (var b in Model)
    {
        a++;
        var ss = "left";
        if (a==3)
        {
            ss = "right";
        }

        <div class="@ss">
            <div class="bot-left">
                <img src="@b.BlogImage" alt="" />
            </div>
            <div class="left-text">
                <h4>@b.Header</h4>
                <span class="doller">@b.Date.ToString("dd.MM.yyyy")</span>
                <p>@b.Explanation.Substring(0,@b.Explanation.Substring(0,150).LastIndexOf(" "))</p>
                <p><a href="/Blog/BlogDetail/@b.ID"><span class="read">Devamını Oku >></span></a></p>
            </div>
        </div>

        
    }





    <div class="clear"></div>
</div>
